.header
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 20px
  height: 32px
  max-width: 1170px
.logo
  width: 100px
  height: 32px
.user-controller
  //width: 70px
  align-items: center
  display: flex
  justify-content: space-between
.user-avatar
  width: 32px
  height: 32px
  &__image
    margin-left: 5px
    border-radius: 15px
.logout-button
  &__text
    margin-left: 5px
.sign-up
  &__button
.sign-in
  &__button
    border-width: 60px
    border-radius: 10px
    border: 1px solid white
    transition: .5s
    &:hover
      background-color: #fff
      color: black
