.modal
    width: 100vw
    height: 100vh
    background-color: rgba(0, 0, 0, 0.4)
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    animation: opacity0-1 0.5s 1
    opacity: 1
    z-index: 100
    &_hide
        animation: opacity1-0 0.5s 1
        opacity: 0
