//fix BEM
.describe-inner
  display: grid
  grid-template-columns: 300px 670px 1fr
  margin-top: 50px
  grid-column-gap: 30px
.left-description
  &__movie-poster__image
    cursor: pointer
    //max-height: 405px
.movie-poster__image
  cursor: pointer
  border-radius: 15px
  margin-bottom: 10px
.trailer-button
  height: 60px
  width: 100%
  background-color: #D9D9D9
  border: none
  border-radius: 10px
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  &__play-image
    margin-right: 8px
  &__text
    color: #0F0F0F
    font-weight: 500
    font-size: 18px
    line-height: 21px
  &-subscribe
    font-size: 14px
    line-height: 16px
    text-align: center
    margin: 4px auto
.description
  width: 670px
.movie-title
  &__translated
    display: inline
    font-weight: bold
    font-size: 24px
    line-height: 28px
.age-limit
  &-container
    display: inline-block
    border: 1px solid #7E7E7E
    width: 20px
    height: 12px
    margin-left: 4px
    font-size: 10px
    line-height: 12px
.subtitle
  display: flex
  align-items: center
.release-date
  margin-right: 2px
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
.geners
  display: flex
  &__name
    font-style: normal
    font-weight: bold
    font-size: 10px
    line-height: 12px
  &__partition
    margin: 2px
.movie-description
  margin-top: 4px
  font-weight: 500
  font-size: 18px
  line-height: 21px
.rating
  &__rating-mark
    font-weight: bold
    font-size: 36px
    line-height: 42px
  &__max-rating
    font-weight: bold
    font-size: 18px
    line-height: 21px
.director
  margin-top: 2px
  font-size: 18px
  line-height: 21px
  margin-bottom: 0
  font-weight: normal
  &__name
    margin-top: 0
    font-size: 18px
    line-height: 21px
