.registration
  height: 500px
  width: 400px
  background-color: #383636
  display: flex
  justify-content: center
  align-items: center
  &__input
    background-color: #030303
    border: none
  &__submit
    cursor: pointer
  &__error
    height: 40px
