//fix SLIDER ДОЛЖЕН БЫТЬ ОТДЕЛЬНЫМ!!!

.slider-container
  min-width: 830px
  position: relative
  &__button
    top: 50%
    width: 34px
    height: 34px
    position: absolute
    border: 10px
    border-radius: 20px
    padding: 0
    background-color: white
    transition: transform 0.5s
    z-index: 1
    transform: translateY(-50%)
    animation: opacity0-1 0.4s
    &:active
      background-color: #D9D9D9
    &_hide
      animation: opacity1-0 0.4s
    &_prev
      left: -15px
      &:hover
        transform: translateY(-50%) translateX(-6px)
    &_next
      right: -15px
      &:hover
        transform: translateY(-50%) translateX(6px)
  &__img
    display: block
    margin: auto
    &_left
      margin-left: 5px
    &_right
      margin-right: 5px
.slider
  display: flex
  flex-direction: row
  column-gap: 15px
  min-width: 830px
  overflow-x: scroll
  scroll-behavior: smooth
  &::-webkit-scrollbar
    height: 0px
.slide
  border: 1px solid #222222
  border-radius: 8px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
  cursor: pointer
  margin-bottom: 10px
  min-width: 145px
  min-height: 175px
  max-width: 145px
  position: relative
  &__active
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    position: absolute
    top: 0
    left: 0
    text-align: center
    border-radius: 8px
    opacity: 0
    transition: linear .2s
  &__img-container
    &:hover .slide__active
      opacity: 1
  &__img
    margin-bottom: -4px
    border-radius: 8px 8px 0 0
    width: 100%
    height: 170px
  &__text-inner
    display: flex
    flex-direction: column
    padding: 12px
    background-color: #111111
    border-radius: 0 0 8px 8px
  &__actor-name
    margin: 0 0 5px 0
    font-weight: bold
    font-size: 16px
    line-height: 21px
  &__character-name
    margin: 0
    font-size: 16px
    line-height: 16px
