::-webkit-scrollbar
  width: var(--scrollWidth)
::-webkit-scrollbar-track
  background: var(--backgroundColor)
::-webkit-scrollbar-thumb
  background: var(--scrollBarColor)
  border-radius: 15px
::-webkit-scrollbar-thumb:hover
  background: var(--activeScrollBar)
