.describe-container
    display: grid
    grid-template-columns: 300px 1fr
    margin-top: 50px
    grid-column-gap: 30px

.person-poster
    &__image
        cursor: pointer
        border-radius: 15px

.person-take-part
    display: flex
    flex-direction: column
    gap: 5px

.person-titles
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    gap: 20px

.person-title
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: .35s
    padding: 10px
    background-color: var(--secondBackgroundColor)
    border-radius: 10px
    gap: 10px
    max-height: 76px
    &:hover
        background-color: var(--thirdBackgroundColor)

.title-header
    display: flex
    justify-content: space-between
    align-items: center
    text-overflow: clip
    gap: 10px
    font-weight: 600
    font-size: 16px

.title-header__name
    white-space: nowrap 
    overflow: hidden
    text-overflow: ellipsis

.title-header__date
    font-weight: 300
    font-size: 14px

.title-subheader
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10px

.title-subheader__character
    color: var(--secondColor)
    white-space: nowrap 
    overflow: hidden
    text-overflow: ellipsis

.title-subheader__rating
    display: flex
    align-items: baseline
    gap: 5px

.title-subheader__rating-mark
    font-weight: 400
    font-size: 24px

.title-subheader__rating-vote
    color: var(--grey)
    font-weight: 400
    font-size: 14px